.card
{
  margin-top: 15px;
  background-image:linear-gradient(to bottom, #eacda3, #d6ae7b);
  border: 3px solid #455054;
  opacity: 0.9;
}
.card-heading
{
  padding: 10px;
}
body
{
  background-image: url(../images/letters.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
  font-family: "Fuzzy Bubbles";
  font-size:25px;
  font-weight: 800;
}
.word-puzzle
{
  width:100%;
}