.card
{
  margin-top: 15px;
  background-image:linear-gradient(to bottom, #eacda3, #d6ae7b);
}
body
{
  background-image: url(../images/letters.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  background-attachment: fixed;
}